body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#01040b;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.chat-container{
    width:500px;
    height:650px;
    background:#01030d;
    border-radius:10px;
    display:flex;
    flex-direction:column;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.header{
    padding:15px;
    font-size:20px;
    font-weight:bold;
    color:white;
    border-bottom:1px solid #1e293b;
}

.chat-box{
    flex:1;
    padding:15px;
    overflow-y:auto;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.message{
    max-width:75%;
    padding:10px 14px;
    border-radius:15px;
    font-size:14px;
    line-height:1.4;
}

.user{
    align-self:flex-end;
    background:#e2e9e5;
    color:black;
}

.bot{
    align-self:flex-start;
    background:#020813;
    color:white;
}

.input-area{
    display:flex;
    padding:10px;
    border-top:1px solid #1e293b;
}

.input-area input{
    flex:1;
    padding:10px;
    border-radius:6px;
    border:none;
    outline:none;
    font-size:14px;
}

.input-area button{
    margin-left:10px;
    padding:10px 16px;
    border:none;
    border-radius:6px;
    background:#22c55e;
    cursor:pointer;
}
.top-bar{
    display:flex;
    justify-content:space-between;
    padding:12px;
    background:#020617;
    color:white;
    border-bottom:1px solid #1e293b;
    font-size:16px;
}

.score-popup{
    align-self:center;
    background:#22c55e;
    color:black;
    padding:6px 12px;
    border-radius:10px;
    font-weight:bold;
    margin:5px 0;
}